.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  list-style: none;
}